<!DOCTYPE html>

<html>

    <head>

        <title>

            About Us

        </title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/images/Logo.png') }}">
        <meta charset = "utf-8">

        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

        <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/About Us CSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/Home Page CSS.css') }}">

	    
	<link rel="shortcut icon" type="image/jpg" href="C:\Users\hp\Desktop\College\First Semester\Introduction To Web Technologies\Notepad ++ Files\Project\favicon.ico"/>

    </head>

    <body>
        
        <!--==Navigation================================-->
        <nav class="navigation">
    
            <!--logo-------->
            
            <img src="{{ url_for('static', filename='/images/images/Logo.png') }}" alt="Logo" class = "Logo" >

            <label for="menu-btn" class="menu-icon">

                <span class="nav-icon"></span>

            </label>

            <!--menu-------->
            <ul class="menu">

                <li>
                    <a href="{{ url_for('logged') }}" >
                        
                        Home

                    </a>
                
                </li>

                <li>

                    <a href="{{ url_for('home') }}#category"  >    


                        Categories
                    
                    </a>
                    <div class="dropdown-content">

                        <a href="{{ url_for('carttest') }}#category">FRUITS & VEGETABLES</a>
                        <a href="{{ url_for('carttest') }}#category">MEDICINE</a>
                        <a href="{{ url_for('carttest') }}#category">BABY CARE</a>
                        <a href="{{ url_for('carttest') }}#category">MEAT</a>
                        <a href="{{ url_for('carttest') }}#category">BAKERY</a>
                        <a href="{{ url_for('carttest') }}#category">SNACKS</a>
                        <a href="{{ url_for('carttest') }}#category">DAIRY PRODUCTS</a>
                        <a  href="{{ url_for('carttest') }}#category" >POPULAR PACKAGES>POPULAR PACKAGES</a>
                        
                    </div>
                
                </li>

                <li>

                    <a href="{{ url_for('home') }}#category"  >    

                        Stores
                    
                    </a>

                    <div class="dropdown-content">

                        <a href="{{ url_for('carttest') }}">BIM</a>
                        <a href="{{ url_for('raya') }}">AL RAYA</a>
                        <a href="{{ url_for('ragabsons') }}">WELAD-RAGAB</a>
                        <a href="{{ url_for('walmart') }}">WALMART</a>
                        <a href="{{ url_for('seoudi') }}">Seoudi Supermarkets</a>

                    </div>
                
                </li>

                <li>
                    
                    <a href="{{ url_for('home') }}#popular-bundle-pack"  >    
                        
                        Packages
                    
                    </a>
                
                </li>
                
                <li>
                    
                    <a href="{{ url_for('feedback') }}" >

                        
                        Feedback
                    
                    </a>
                
                </li>
                
                <li>

                    <a href="{{ url_for('aboutus') }}" class="active" >

                        About&nbsp;us

                    </a>

                </li>

                <li>
                    
                    <a href="{{ url_for('contactus') }}"  >
                        
                        Contact&nbsp;Us
                    
                    </a>
                
                </li>

                <li>
                    
                    <a href="{{ url_for('track') }}"  >
                        
                        Track&nbsp;Your&nbsp;Order  
                    
                    </a>
                
                </li>

                <li>
                    
                    <a href="{{ url_for('login') }}" >

                            
                        Logout
                        
                    </a>
                    
                </li>

            </ul>

            
            <div class="right-nav">

                <a class = "like" href="{{ url_for('profile') }}">

                    <img src="{{ photo_url }}" alt="Profile Image">

                </a>
                
                <a class = "greeting">Welcome, {{ first_name }}</a>

            </div>
            
        </nav>

        <!--nav-end--------------------->
        
        <div class = "section">

            <div class = "container">

                <div class = "content-section">

                    <div class = "title">

                        <h1 style = "font-family: 'Poppins', sans-serif;">

                            About Us

                        </h1>

                    </div>

                    <div class = "content">

                        <p>

							At MarketMate, we simplify your shopping experience by offering a seamless way to select and purchase products from a variety of supermarkets. Our platform allows you to effortlessly browse, compare, and choose your favorite items, all from the comfort of your home. With a focus on convenience and quality, MarketMate ensures that your groceries are delivered promptly and efficiently, so you can spend more time on what truly matters. Experience the future of grocery shopping with MarketMate, where variety meets convenience.</b>.
                    
                    </div>

                <div class = "image-section">

                    <a href="{{ url_for('logged') }}" >

                        <img src="{{ url_for('static', filename='/images/images/Logo.png') }}" alt="Logo" style = 'cursor: pointer;' >

                    </a>

                </div>

            </div>

        </div>

    </body>
    
</html>