<!DOCTYPE html>

<html>

    <title>

        Dairy Products

    </title>

    <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/Category Page CSS.css') }}">
    
    <link rel="shortcut icon" type="image/jpg" href="C:\Users\hp\Desktop\College\First Semester\Introduction To Web Technologies\Notepad ++ Files\Project\favicon.ico"/>

    <body>

         <!--==Navigation================================-->
         <nav class="navigation">

            <!--logo-------->
            

            <img src="{{ url_for('static', filename='/images/images/Logo.png') }}" alt="Logo" class = "Logo" >


            
            <label for="menu-btn" class="menu-icon">

                <span class="nav-icon"></span>

            </label>

            <!--menu-------->
            <ul class="menu">

                <li>
                    <a href="{{ url_for('home') }}" class="active">
                        
                        Home

                    </a>
                
                </li>

                <li>

                    <a href="{{ url_for('home') }}#category"  >    


                        Categories
                    
                    </a>
                
                </li>

                <li>

                    <a href="{{ url_for('home') }}#category"  >    

                        
                        Stores
                    
                    </a>
                
                </li>

                <li>
                    
                    <a href="{{ url_for('contactus') }}"  >
                        
                        Contact&nbsp;Us
                    
                    </a>
                
                </li>
				
				<li>
                    
                    <a href="{{ url_for('feedback') }}" >

                        
                        Feedback
                    
                    </a>
                
                </li>
				
				<li>

					
                    <a href="{{ url_for('aboutus') }}" >

						About&nbsp;us

					</a>

                </li>

                <li>
                    
                    
                    <a href="{{ url_for('home') }}#popular-bundle-pack"  >    
                        
                        Packages
                    
                    </a>
                
                </li>

                <li>
                    
                    <a href="{{ url_for('signup') }}" >

                            
                        Sign&nbsp;up
                        
                    </a>
                    
                </li>

                
                <li>
                    
                    <a href="{{ url_for('login') }}" >

                        
                        Login
                    
                    </a>
                
                </li>

				</ul>

            <!--right-nav-(cart-like)-->
            <div class="right-nav">

                <!--like----->
                
                <a href="{{ url_for('wishlist') }}" class=" like"  >


                    <i class="fas fa-heart"></i>
                    <img src="{{ url_for('static', filename='/images/images/wishlist.jpg') }}" alt="wishlist" >

                    <span>
                        
                        2
                    
                    </span>

                </a>

                <!--cart----->
                <a href="{{ url_for('cart') }}" class=" like"  >

                    <i class="fas fa-shopping-cart"></i>
                    <img src="{{ url_for('static', filename='/images/images/cart3.jpg') }}" alt="cart3" >

                    <span>
                        
                        2
                    
                    </span>

                </a>

                <!--cart----->
                <a href="{{ url_for('profile') }}" class=" like"  >

                    <i class="fas fa-user"></i>
                    <img src="{{ url_for('static', filename='/images/images/profile2.png') }}" alt="profile" >

                    <span>

                        1

                    </span>

                </a>

            </div>

        </nav>

        <!--nav-end--------------------->
        <div>
        
            <div class="left-sidebar">
            <img src="{{ url_for('static', filename='/images/images/plate10.png') }}" alt="Sidebar Image">

                
            </div>
        </div>
        <section id="popular-product">
            <!--heading----------->
            <div class="product-heading">
                <h2 class = 'fruits-heading'>Dairy Products</h2>
            </div>
            <!--box-container------>
            <div class="product-container">
                <!--box---------->
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Milk.jpeg') }}" alt="Milk">
                    <strong>Milk</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 40</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Feta.jpeg') }}" alt="Feta Cheese">
                    <strong>Feta Cheese</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 20</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Cheddar.jpeg') }}" alt="Cheddar Cheese">
                    <strong>Cheddar Cheese</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 30</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Mozzarella.jpeg') }}" alt="Mozzarella Cheese">
                    <strong>Mozzarella Cheese</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 35</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Butter.jpeg') }}" alt="Butter">
                    <strong>Butter</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 50</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Yogurt.jpeg') }}" alt="Yogurt">
                    <strong>Yogurt</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 25</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Whipping cream.jpeg') }}" alt="Whipping cream">

                    <strong>Whipping cream</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 35</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Ghee.jpeg') }}" alt="Ghee">
                    <strong>Ghee</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 45</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <div class="product-box" >
                    <img src="{{ url_for('static', filename='/images/images/Cottage Cheese.jpeg') }}" alt="Cottage Cheese">

                    <strong>Cottage Cheese</strong>
                    <span class="quantity">1 kilo</span>
                    <span class="price">LE 20</span>
                    <!--cart-btn------->
                    <a href="Shopping Cart HTML.html" class="cart-btn" style = 'text-decoration: none;'>
                        <i class="fas fa-shopping-bag"></i> Add to Cart
                    </a>
                    <!--like-btn------->
                    <a class="like-btn" style = 'text-decoration: none;'>
                        <i class="far fa-heart"></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="category">
            <!--box-container---------->
            <div class="category-container">

                <!--box---------------->
                    <a href="{{ url_for('fruits') }}" class=" category-box"  >

                    <img src="{{ url_for('static', filename='/images/images/Vegetables.png') }}" alt="fruits&vegetables">
					<span>Fruits & <br> Vegetables</span>
				</a>
				<!--box---------------->
                <a href="{{ url_for('medicine') }}" class=" category-box"  >


                    
                    <img src="{{ url_for('static', filename='/images/images/medicine.png') }}" alt="medicines">
                    <span>Medicine</span>
                </a>
                <!--box---------------->
                <a href="{{ url_for('babycare') }}" class=" category-box"  >

                    
                    <img src="{{ url_for('static', filename='/images/images/baby.png') }}" alt="babycare">
                    <span>Baby Care</span>
                </a>
                <!--box---------------->
                <a href="{{ url_for('meat') }}" class=" category-box"  >

                    <img src="{{ url_for('static', filename='/images/images/fish.png') }}" alt="meat" >
                    <span>Meat</span>
                </a>
                <!--box---------------->
                <a href="{{ url_for('bakery') }}" class=" category-box"  >

                    <img src="{{ url_for('static', filename='/images/images/bakery1.png') }}" alt="bakery" >
                    <span>Bakery</span>
                </a>
                <!--box---------------->
                <a href="{{ url_for('snacks') }}" class=" category-box"  >

                    <img src="{{ url_for('static', filename='/images/images/snacks.png') }}" alt="snacks" >
                    <span>Snacks</span>
                </a>
                <!--box---------------->
                <a href="{{ url_for('dairy') }}" class=" category-box"  >

                    <img src="{{ url_for('static', filename='/images/images/dairy2.png') }}" alt="dairyproducts" >
                    <span>Dairy Products</span>
                </a>
            </div>
            <!--box-container---------->
        </section>
        <div class="right">
            <img src="{{ url_for('static', filename='/images/images/plate102.png') }}" alt="Sidebar Image">

            
        </div>
    </body>

</html>
