<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/Profile CSS.css') }}">
    <script src="https://kit.fontawesome.com/cacf32ff12.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="C:\Users\hp\Desktop\College\First Semester\Introduction To Web Technologies\Notepad ++ Files\Project\favicon.ico"/>
</head>
<body>
<div class="container">
    <div class="leftbox">
        <nav>
            <a onclick="tabs(0)" class="tab active">
                <i class="fas fa-user"></i>
            </a>
           
            <a onclick="tabs(3)" class="tab" href="{{ url_for('history') }}">
                <i class="fas fa-tasks"></i>
            </a>
            
        </nav>
    </div>
    <div class="rightbox">
        <div class="profile tabShow">
            <h1>Personal Information</h1>
            <form action="{{ url_for('profile') }}" method="POST">
                <h2>Name</h2>
                <input type="text" class="input" name="first_name" value="{{ user.first_name }}">
                <input type="text" class="input" name="last_name" value="{{ user.last_name }}">
                <h2>Email</h2>
                <input type="email" class="input" name="email" value="{{ user.email }}">
                <h2>Password</h2>
                <input type="password" class="input" name="password"  value="{{ user.password }}" readonly>
                <h2>Address</h2>
                <input type="text" class="input" name="address" value="{{ user.address }}">
                <h2>Profile Photo</h2>
                <input type="text" class="input" name="photo" value="{{ user.photo }}">
                <button class="btn" type="submit">Update</button> <a href="{{ url_for('logged') }}" class="btn" type="submit">Home</a>
            </form>
        </div>
        <div class="History tabShow">
            <h1>Order History</h1>
            <ul>
                {% for order in orders %}
                <li>
                    <strong>Order ID:</strong> {{ order.id }}<br>
                    <strong>Order Date:</strong> {{ order.created_at }}<br>
                    <strong>Market Name:</strong> {{ order.market_name }}<br>
                    <!-- Add other relevant order details as needed -->
                    <hr>
                </li>
                {% endfor %}
            </ul>
            
        </div>
        <!-- Rest of the tabs go here -->
    
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/Profile JS.js') }}"></script>
</body>
</html>
