<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/Shopping Cart CSS.css') }}">
    <script src="https://kit.fontawesome.com/9088cc6401.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Shopping Cart</h1>
        <div class="cart">
            <div class="products" id="cart-items">
                <!-- Dynamic content will be inserted here -->
            </div>
            <div class="cart-total">
                <p>
                    <span>Total Price</span>
                    <span id="total-price">LE 0</span>
                </p>
                <p>
                    <span>No. of Items</span>
                    <span id="total-items">0</span>
                </p>
                <p>
                    <span>You Save</span>
                    <span id="total-savings">LE 0</span>
                </p>
                <a href="{{ url_for('checkoutdetails') }}">Proceed to Checkout</a>
            </div>
        </div>
    </div>

    <script src="shoppingcart.js"></script> <!-- Include your JavaScript file -->
</body>
</html>
